{% extends "base.html" %}
{% blcok title %} About-Us {% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="eng">
    <head>
        <title> About Us </title>
        <meta charset="UTF-8">
        <meta name = "viewset" contentwidth = "device-width,  initial-scale = 1.o" >
        <meta name = "description" content="This is one of the best restaurant which is located in Bangalore city keeping in view about the public from different states of country and world wide, Here in our city there is a demand as per choice like north and south indian food along with Fast foods , we serve fast foods cosumed by forriegners also but its only on demand, hence we serve foods like idli dosa, uttapam payassam, sambar, dosa, ragi, Pizza Burger, in different varieties "
    </head>
    <body>
        <h1>This is our main content of our page of our restaurant : THE NORTSOUT RESTAURANT </h1>
        <P>Soon we are planning to be live in Hyderabad, Chennai, Cochi, Mumbai, Ludhiana, Delhi, Jaipur, Ahemedabad</P>
        <img src="avatar.png" width="50" height="50">
        {% if menuitems %}
        <div class = "menuitems" >
            {% for items in menuitem%}
                <p>{{items.name}}</p>
                <p>{{items.description}}</p>
                <p>{{items.price}}</p>
            {% endfor %}
        </div>
        {% endif %}
    </body>
</html>
{% endblock %}

