{% extends "base.html" %}
{% block title %} Contact-Us {% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="eng">
    <head>
        <title>Contact-Us</title>
        <meta charset="UTF-8">
        <meta name="viewset" content="width = content-width, initial-sacle =1.0">
        <style>
            .card
            {
                background-color: red;
                color: white;
            }
            .card,h1
            {
                color: red;
            }
        </style>

    </head>
    <body>
        
        <form >
            {% csrf_token %}
            <label for = "name"> Name </label>
            <input type="text" name= "text">
            <label for = "email">Email id </label>
            <input type="email" name = "email">
            <button type="submit"> Contact Us </button>

        </form>

<!-- This is here i am creating the form again as per give task to submit email address and name and create its models  -->

        <form>
            {% csrf_token %}
            <label for="name">Name</label>
            <input type="text" name="text1">
            <label for="email">Email</label>
            <input type="email" name = "email1">
            <button type="submit"></button>
        </form>

        <div class="card">
            <h1>HSR Layout Road Bangalore Karnataka</h1>
            <p>Contact number: 0000000000</p>
        </div>

        <div class="card">
            <h1>Near Main Wipro Gate Neeladhari Road Bangalore Karnataka</h1>
            <p>Contact no: 0000000000</p>
        </div>

        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">SEND EMAIL</button>
        </form>
    </body>
</html>
{% endblock %}