<footer>
    <h1>2025 Copyright Act : Copyright in any form is illegal</h1>
    <p>Brand Name : THE NORTH-SOUTH RESTAURANT </p>
    <h3>Restaurant timings will be as per this Schedule given Below :</h3>
    {% if date_time == Monday %}
    <p>Monday : 11am to 9pm</p>
    {% elif %}
    <p>Tuesday : 11am to 9pm</p>
    {% elif %}
    <p>Wednesday : 11am to 9pm</p>
    {% elif %}
    <p>Thursday : 11am to 9pm</p>
    {% elif %}
    <p>Friday : 11am to 9pm</P>
    {% elif %}
    <p>Satruday : 10am to 10pm</p>
    {% elif %}
    <p>Sunday : 10am to 10pm</p>
    {% endif %}
</footer>