<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset = "UTF-8"
        <title>Restaurant Management System</title>
        <meta name="viewport" contentwidth = "device-width=initial-scale=1.0">
        <link rel="stylesheet" href = "template/style.css">
        <style>
            .hp1{
                background-color: "red";
                color: "white";
                padding: 25px;
                       
            }
            .hp2{
                background-color : "red";
                color: "yellow";
                padding : 25px;
            }


        </style>
    </head>
    <body>
        <div class="hp1">
            <h1>Welcome to Restaurant Management System</h1>
        </div>
        <div class="hp2">
            <ul>
                <li>Home</li>
                <li>Orders</li>
                <li>Products</li>
            </ul>
        </div>
    </body>
</html>