{% extends "base.html" %}
{% block title %} Homepage {% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset = "UTF-8"
        <title>Restaurant Management System</title>
        <meta name="viewport" contentwidth = "device-width=initial-scale=1.0">
        <link rel="stylesheet" href = "template/style.css">
        <style>
            .hp1{
                background-color: "red";
                color: "white";
                padding: 25px;
                       
            }
            .hp2{
                background-color : "red";
                color: "yellow";
                padding : 25px;
            }


        </style>
    </head>
    <body>
        <div class="hp1">
            <h1>Welcome to Restaurant Management System</h1>
        </div>
       {% if restaurant %}
        <div>
            <p>{{restaurant.name}}</p>
        {% else %}
            <h3>Restaurant is not available </h3>
        </div>
        {% endif %}

        <div class="search-container">
            <form action ="/search" method="get">
                <input type="text" name ="search" placeholder="Search">
                <button type="Submit">Search</button>

            </form>>
        </div>

        <div class = "RESTNAME">
            <h1>{{name}}</h1>
            <H3>{{slogan}}</H3>
        </div>

        <div class="hp2">
            <ul>
                <a href="aboutus.html" <li>Home</li></a> <--!--> we can use it like '/' also but i have written complete page <--!-->
                <li>Orders</li>
                <li>Products</li>
            </ul>
        </div>
        <h1>Our Available Menus</h1>
        {% for items in menuitems %}
        <div class = "menuimage">       
            <h3>{{items.Item_name}}</h3>
            <p>{{items.item_description}}</p>
            <p>{{items.item_price}}</p>
            {% if items.image %}
            <img src = "{{items.img.url}}" alt = "{{items.name}}" width = 200>
            {% else %}
            <h1>There is no image uploaded by Department</h1>
            {% endif %}
        </div>
        {% endfor %}

        <div class = "order">
            {% for items in order %}
                <p>{{items.customer}}</p>
                <p>{{items.order_items}}</p>
                <p>{{items.total_amount}}</p>
                <p>{{items.order_status}}</p>                
            {% endfor %}
        </div>
        {% if restaurant_info %}
        <div class = "restaurnat_info">
            <h1> Restaurant Address </h1>
            <p>{{restaurnat_info.address}}</p>
            <p>{{city}}</p>
            <p>{{state}}</p>
            <p>{{zipcode}}</p>
        {% else %}
        <h4>Address not found </h4>
        {% endif %}

        </div>

        <div class = "googlemaps">
            <iframe>
                src = "https://www.google.com/maps/place/BTM+Layout+Bangalore+Karnataka/@12.79879879879,77.7987846515"
                width = "500"
                height = "600"
                style = " border:0"
                allowfullscreen = ""
                loading = "lazy"
            </iframe>
        </div>

        <div>
            <h2>You can Submit your Name and Email Address for your valuable Relationship with us</h2>
            <form>
                {% csrf_token %}
                <label for="name">Name</label>
                <input type="text" name= "Name">
                <label for="email">Email</label>
                <input type="email" name="email">
                <button type="submit" value="submit">Submit your Details</button>
                
            </form>
        </div>

        <!-- Here is the address again which we have to display -->
        {% for items in restaurant_info %}
        <div class = "restruant address2">
            <h1>This is our restaurant Address</h1>
            <p>{{items.address}}</p>
            <p>{{items.city}}</p>
            <p>{{items.state}}</p>
            <p>{{items.zipcode}}</p>
        </div>
        {% endfor %}
    </body>
    {% for items in RestantOpeningHours %}
    <div class = "restaurntworking">
        <h2>OUR RESTAURANT TIMINGS ARE</h2>
        <p>OUR TODAY TIMINGS ARE : {{items.day}}:{{items.time}}</P>
        
    </div>
    {% endfor %}

    {% for items in Menuitem %}
    <div class = "menuitem">
        <h2> MENU OF THE NORTH-SOUTH RESTAURANT</h2>
        <H4>{{items.}}</H4>
    </div>
    {% endfor %}

</html>
{% endblock %}