{% extends "base.html" %}
{% block title %} Menuitems {% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="eng">
    <head>
        <title>Menuitems</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="device-width,initial-scale = 1.0">
    </head>
    <body>
        <h3>Our items will be displayed here so these are our available items </h3>
        {% for items in restaurant_menu %}
        <div class = "menuitems">
            <h4>{{items.item_name}}</h4>
            <h4>{{items.item_description}}</h4>
            <h4>{{items.item_price}}</h4>
        </div>
        {% endfor %}
    </body>
</html>
{% endblock %}
