{% extends "base.html" %}
{% block title %} Page Not Found {% endblock %}
{% block content %}
<!DOCTYPE html>
<title>Page Not Found 404</title>
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content="device-width = initial-scale = 1.0">
    <style>
        .hp{
            background-color: white;
            color : red;
            padding : 50%
        } 
        h1{
            background-color: dodgerBlue;
            color : white;
        }
    </style>
</head>
    <body>
        <div class ="hp">
            <h1> Page Not Found 404 </h1>
            <p>Sorry ! The page you have request cannot be displayed</p>
            <a href = "/">Go back to main menu</a>
        </div>
    </body>
</html>
{% endblock %}
